{
  "root": true,
  "extends": [
    "prettier",
    "@mj-studio/eslint-config-react",
    "@react-native"
  ],
  "plugins": ["jest"],
  "rules": {
    "react-native/no-inline-styles": "off",
    "@typescript-eslint/no-shadow": "off",
    "comma-dangle": ["error", "always-multiline"],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "arrowParens": "always",
        "singleQuote": true,
        "jsxSingleQuote": false,
        "quoteProps": "consistent",
        "printWidth": 100
      }
    ],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "react/react-in-jsx-scope": "off",
    "react/no-unused-prop-types": "off"
  }
}
