/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background: linear-gradient(to bottom, #111, #242424, #111);
  color: white;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    border: 2px solid #24242411;
  }
}

@keyframes rotate-loop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  animation: 30s rotate-loop linear infinite;
  width: 256px;
  height: 256px;
  filter: drop-shadow(2px 2px 12px white);
}
